<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8"/>
<title>Shawty: The Go URL Shortener</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

</head>
<body>

<main>
    <h1>Shawty</h1>
    <form class="shorten-form" action="/" method="POST">
        <div class="url-field">
            <label for="url">Paste a URL here to shorten:</label>
            <input id="url" class="input-lg" type="url" required placeholder="Paste URL here"/>
        </div>
        <div class="shortcode-field">
            <label for="code">Pick an optional custom code:</label>
            <input id="code" type="text" placeholder="Custom URL"/>
        </div>
    </form>

    <input id="result" type="text" class="input-lg" readonly/>
</main>

<footer><p>Made by <a href="http://kyleh.co/">Kyle Hardgrave</a>.</p></footer>


<!-- JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="main.js"></script>

</body>
</html>
